.quiz {
    width: 600px;
    margin: 0 auto;
}

.quiz-questions,
.quiz-indicator,
.quiz-results {
    margin-bottom: 20px;
}

.quiz-questions-item,
.quiz-results-item {
    margin-bottom: 20px;

    &__question {
        margin-bottom: 20px;
        font-size: 20px;
    }

    &__answers {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.quiz-indicator {}

.quiz-results {
    display: none;
}

.btn-next {}

.btn-restart {
    display: none;
}

.questions--hidden,
.indicator--hidden,
.btn-next--hidden {
    display: none;
}

.indicator--visible,
.btn-restart--visible {
    display: block;
}

.answer--invalid {
    color: red;
}

.answer--valid {
    color: green;
}
