@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$color-base: #ccc;
$color-white: #fff;
$color-hover: #dcdcdc;
$color-selected: #3e8acc;
$color-focus: green;

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.select {
    $parent: &;

    position: relative;

    &--active {
        #{$parent}-list {
            display: block;
        }

        #{$parent}-trigger::before {
            transform: translateY(-50%) rotate(-180deg);
        }
    }

    &-trigger {
        position: relative;
        padding: 20px;
        border: 1px solid $color-base;

        &::before {
            position: absolute;
            top: 50%;
            right: 20px;
            display: block;
            width: 16px;
            height: 16px;
            content: '';
            background: url(https://image.flaticon.com/icons/svg/25/25243.svg) no-repeat 50% 50%;
            background-size: cover;
            transition: .2s;
            transform: translateY(-50%);
        }
    }

    &-list {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 20;
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: $color-white;
        border-color: $color-base;
        border-style: solid;
        border-width: 0 1px 1px;

        &__item {
            padding: 20px;

            &--selected {
                color: $color-white;
                background-color: $color-selected;
            }

            &:hover:not(&--selected) {
                background-color: $color-hover;
            }
        }
    }
}
