@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.rating {
    display: inline-flex;
    flex-direction: row-reverse;

    &__item {
        font-size: 100px;
        color: #dcdcdc;
        cursor: pointer;
        transition: .2s;

        &:hover,
        &:hover ~ & {
            color: #989898;
        }
    }

    &[data-total-value='1'] &__item:nth-child(n + 5),
    &[data-total-value='2'] &__item:nth-child(n + 4),
    &[data-total-value='3'] &__item:nth-child(n + 3),
    &[data-total-value='4'] &__item:nth-child(n + 2),
    &[data-total-value='5'] &__item:nth-child(n + 1) { color: orange; }
}
